<header class="row header min-header center liensce-color">
    Managers Informaton
  </header>
<div>
  <app-managers-biodata-editor (emitter)="saveManagers($event)" ></app-managers-biodata-editor>
</div>
<div  *ngIf="err$ | async" class="row alert-row">
  <!-- notification template -->
  <div class="alert alert-danger">
    <div class="alert-items">
      <div class="alert-item static">
          <!-- <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
        </div> -->
        <span class="alert-text"> {{ err$ | async }} </span>
      </div>
    </div>
  </div>
  <!-- notification template -->
</div>
