/* You can add global styles to this file, and also import other style files */
// impotying clarity style
@import "~clarity-ui/clarity-ui";

html, body {
  margin: 0;
  // padding: 0;
  padding: 10%;

  height: 100%;
  overflow-x: hidden;
}

